* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #fff;
    --main-color: #000;
}

body.dark{
    --main-bg-color: #000;
    --main-color: #fff;
}

body.light{
    --main-bg-color: #fff;
    --main-color: #000;
}

body {
    background: var(--main-bg-color);
    color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    font-family: Helvetica, sans-serif;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
    padding: 48px 32px;
    width: 100vw;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

h1 {
    font-size: 48px;
}

input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

header button {
    background-color: #000;
    border: solid 4px #fff;
    border-radius: 50px;
    cursor: pointer;
    height: 100px;
    outline-width: 5px;
    position: relative;
    width: 200px;
}

.icon {
    background-color: grey;
    border-radius: 100%;
    content: "";
    display: block;
    height: 60px;
    margin: 16px 25px;
    position: relative;
    width: 60px;
    transition: background-color 0.3s, transform 0.3s;
}

body.dark .icon{
    background: yellow;
    transform: translateX(85px);
}

body.dark .icon:after{
    content: '';
    background-color: #000;
    display: block;
    height: 50px;
    width: 45px;
    border-radius: 100%;
    position: absolute;
    left: -5px;
    top: 5px;
}

body.light .icon{
    background: grey;
    transform: translateX(0);
}

body.light .icon:after{
    content: none;
}

span {
    bottom: 100%;
    color: var(--main-color);
    font-size: 20px;
    left: 50%;
    padding: 12px 0;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

p {
    font-size: 24px;
    padding: 12px 0;
    text-align: left;
}

main button {
    background: var(--main-color);
    border: solid 0.3vw;
    color: var(--main-bg-color);
    background: var(--main-bg-color);
    color: var(--main-color);
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    margin: 24px 0;
    padding: 24px 32px;
    transition: background 0.3s, color 0.3s;
}

main button:hover {
    background: var(--main-color);
    color: var(--main-bg-color);
}


@media (prefers-color-scheme: dark){
    body{
        --main-bg-color: #000;
        --main-color: #fff;
    }

    body .icon{
        background: yellow;
        transform: translateX(85px);
    }
    
    body .icon:after{
        content: '';
        background-color: #000;
        display: block;
        height: 50px;
        width: 45px;
        border-radius: 100%;
        position: absolute;
        left: -5px;
        top: 5px;
    }
}